@{
    ViewBag.Title = "Kadromuz";
}

<div class="row">
    <div class="col-lg-6">
        İsmail Arslan
    </div>
    <div class="col-lg-6">
        Numara
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        Mail
    </div>
</div>
