@{
    ViewBag.Title = "Anasayfa";
}

<link href="~/Content/IndexSlider.css" rel="stylesheet" />

<div class="row">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="http://unsplash.s3.amazonaws.com/batch%209/barcelona-boardwalk.jpg" alt="First slide">
                <div class="header-text hidden-xs">
                    <div class="col-md-12 text-center">
                        <h2>
                            <span><strong>Digi Platform</strong>'a Hoşgeldiniz</span>
                        </h2>
                        <br>
                        <h3>
                            <span>Digi Platform ile sitelerinizi kolaylıkla yönetebilirsiniz.</span>
                        </h3>
                        <br>
                        <div class="">
                            <a class="btn btn-theme btn-sm btn-min-block" href="/Login/Yonetici">Yönetici Giriş</a>
                            <a class="btn btn-theme btn-sm btn-min-block" href="/Login/Kullanici">Kullanıcı Giriş</a>
                            <a class="btn btn-theme btn-sm btn-min-block" href="/Login/Kaydol">Kaydol</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="https://c.pxhere.com/photos/ad/0d/moscow_city_moscow_russia_city_skyscraper_skyscrapers_tower_building-1388456.jpg!d" alt="First slide">
                <div class="header-text hidden-xs">
                    <div class="col-md-12 text-center">
                        <h2>
                            <span><strong>Digi Platform</strong>'a Hoşgeldiniz</span>
                        </h2>
                        <br>
                        <h3>
                            <span>Digi Platform ile sitelerinizi kolaylıkla yönetebilirsiniz.</span>
                        </h3>
                        <br>
                        <div class="">
                            <a class="btn btn-theme btn-sm btn-min-block" href="/Login/Yonetici">Yönetici Giriş</a>
                            <a class="btn btn-theme btn-sm btn-min-block" href="/Login/Kullanici">Kullanıcı Giriş</a>
                            <a class="btn btn-theme btn-sm btn-min-block" href="/Login/Kaydol">Kaydol</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="http://unsplash.s3.amazonaws.com/batch%209/barcelona-boardwalk.jpg" alt="First slide">
                <div class="header-text hidden-xs">
                    <div class="col-md-12 text-center">
                        <h2>
                            <span><strong>Digi Platform</strong>'a Hoşgeldiniz</span>
                        </h2>
                        <br>
                        <h3>
                            <span>Digi Platform ile sitelerinizi kolaylıkla yönetebilirsiniz.</span>
                        </h3>
                        <br>
                        <div class="">
                            <a class="btn btn-theme btn-sm btn-min-block" href="/Login/Yonetici">Yönetici Giriş</a>
                            <a class="btn btn-theme btn-sm btn-min-block" href="/Login/Kullanici">Kullanıcı Giriş</a>
                            <a class="btn btn-theme btn-sm btn-min-block" href="/Login/Kaydol">Kaydol</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>


